.appBarTitle {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 900;
    color: white;

    -webkit-text-stroke: 1.5px red;

    font-size: "32px";
    font-weight: "bolder";
    align-items: center;
    margin-left: auto;

}

.toolBarStyle {
    background: '#CC080B';


}

.drawerTitle {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: black;
    -webkit-text-stroke: 1.2px black;

    /* align-items: center; */
    text-align: center;
    justify-content: center;


}

.main-container{
    padding: 0;
}

.main-body {
    height: 100vh;
    background: linear-gradient(0deg,rgba(255,255,255,.6),rgb(255,255,255)),url('../src/assets/img/dash-bg.png');
    /* background-image: url("../../src/assets/img/dashboard-bg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
   
}

.overlay{
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(250, 250, 250, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.6;
   
}